$shadow: #717981;

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: century gothic;
}

.navbar {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        height: 7vh;
        display: flex;
        align-items: center;
    }
}

.navbar_center {
    width: 100%;

    hr {
        width: 100%;
        height: 1px;
        background: black;
    }
}

.navbar_left {
    min-width: fit-content;
    display: flex;
    justify-content: space-around;

    .navbar_text {
        font-size: 20px;
        margin: 0 30px;


        h1 {
            user-select: none;
            padding: 5px 10px;
            margin: 0;
            font-weight: lighter;
            border-bottom: 1px solid white;
            transition: border-bottom .5s;
        }

        &:hover {
            h1 {
                border-bottom: 1px solid black;
            }
        }

    }
}

.navbar_right {
    min-width: fit-content;
    margin-left: 40px;

    .navbar_link {
        display: flex;
        align-items: center;
        margin-right: 40px;
        height: fit-content;
        width: fit-content;

        a {
            border: 2px solid black;
            height: 56px;
            width: 56px;
            position: relative;
            top: 0;
            transition: background-color .2s, top .2s, box-shadow .1s;
            box-shadow: 4px 4px $shadow;

            img {
                padding: 7px;
                height: 42px;
                width: 42px;
            }
        }

        &:hover {
            a {
                top: 3px;
                background-color: #f7f7f7;
                box-shadow: none;
            }
        }

    }
}

.frontpage {
    font-family: century gothic;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 300px);
}

.text {
    width: 35vw;

    .introduction {
        font-size: min(2.8vh, 1.8vw);
        margin-bottom: 50px;

        #headline {
            font-weight: bold;
            font-size: min(3.5vh, 2.2vw);
        }
    }
}

.pages {
    display: flex;
    justify-content: space-between;

    a {
        align-items: center;
        padding: 10px;
        border: 1px solid white;
        font-size: min(2vh, 1vw);
        color: black;

        h2 {
            margin: 0;
            border: none;
        }

        &:hover {
            border: none;
            border: 1px solid gray;
            transition: border .4s;
        }

    }
}

.photo {
    img {
        box-shadow: 10px 10px $shadow;
        height: min(55vh, calc(100vh - 200px), 35vw)
    }
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    text-align: center;
    height: 100px;

    img {
        background-color: white;
        height: 25px;
        margin-right: 4px;

    }

    a {
        display: flex;
        margin: 0;
        margin-bottom: -20px;
        color: black;
        align-items: center;
    }

    p {
        font-size: 2vh;
        padding: 0 6px;
        margin: 0;
    }
}

@media only screen and (max-aspect-ratio: 4/3) {

    body {
        background-size: auto;
        overflow: scroll;
        background-repeat: repeat-y;
        background-position: center;
    }

    .navbar {
        position: relative;
        top: 0;
        z-index: 1;
        justify-content: space-between;

        .navbar_left {
            margin-left: 6vw;

            .navbar_text {
                font-size: min(4vw, 16px);
                margin: 0;

                h1 {
                    font-weight: bold;
                    padding: 0;
                }

            }
        }

        .navbar_center {
            display: none;
        }

        .navbar_right {
            margin-left: 6vw;

            .navbar_link {
                margin-right: 6vw;

                a {
                    height: min(56px, 15vw);
                    width: min(56px, 15vw);
                    box-shadow: 4px 4px $shadow;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        padding: 0;
                        height: min(42px, 12vw);
                        width: min(42px, 12vw);
                    }
                }

                &:hover {
                    a {
                        top: 3px;
                        background-color: #f7f7f7;
                        box-shadow: none;
                    }
                }

            }
        }
    }


    .frontpage {
        height: auto;
        flex-direction: column-reverse;

        .photo {
            margin-bottom: 40px;

            img {
                width: 88vw;
                height: auto;
            }
        }

        .text {
            width: 88vw;

            .introduction {
                margin-bottom: 10px;

                #headline {
                    font-size: 30px;
                }

                p {
                    margin: 0;
                }

                margin-top: 0;
                font-size: 24px;
            }
        }

        .pages {
            justify-content: space-evenly;
            margin-bottom: 20px;

            a {
                padding: 1vw;
                border: 1px solid white;
                font-size: max(1.7vw, 12px);
                color: black;

                h2 {
                    margin: 0;
                    border: none;
                }

                &:hover {
                    border: none;
                    border: 1px solid gray;
                    transition: border .4s;
                }

            }
        }
    }

    .footer {

        height: 100px;
        padding-bottom: 10px;

        img {
            height: min(5vw, 24px);
        }

        a {
            margin: 0;
        }
    }
}