@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
* {
  cursor: none !important;
}

html {
  filter: contrast(1.05);
  /* cursor: none; */
  scroll-behavior: smooth;
}

body {
  cursor: none;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myVideo {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 100%;
  min-height: 100%;
  min-width: 100%;
  filter: brightness(70%);
}

@media only screen and (max-width: 700px) {
  .cursor-dot,
  .cursor-outline {
    display: none;
  }
}
.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: white;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid black;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
}

.navbar {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar .title {
  text-align: center;
  font-size: 30px;
  margin: 0 35px;
  min-width: 260px;
}
.navbar .title a {
  text-decoration: none;
  color: black;
}
.navbar .title h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
}
@media only screen and (max-width: 555px) {
  .navbar .title {
    display: none;
  }
}
.navbar .links {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}
.navbar .links .link {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.navbar .links .link a {
  position: relative;
  top: 0;
  height: 62px;
  width: 62px;
  border: 2px solid black;
  border-radius: 5px;
  transition: background-color 0.2s, top 0.2s, box-shadow 0.1s;
}
.navbar .links .link a img {
  padding: 10%;
  height: 80%;
  width: 80%;
}
.navbar .links .link:hover a {
  cursor: none;
  top: 3px;
  background-color: rgba(245, 245, 245, 0.295);
  box-shadow: none;
}
@media only screen and (max-width: 555px) {
  .navbar .links {
    display: none;
  }
}
@media only screen and (max-width: 555px) {
  .navbar {
    display: none;
  }
}

.mobile-navbar {
  display: none;
}
@media only screen and (max-width: 555px) {
  .mobile-navbar {
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 10vh;
    width: 80%;
  }
  .mobile-navbar a {
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-size: min(22px, 3vh);
    font-weight: bold;
  }
}

.navbar-break {
  width: 100%;
  display: block;
}
.navbar-break hr {
  width: 100%;
  height: 2px;
  background: black;
  padding: 0;
  margin: 0;
  border: 0;
}
@media (max-width: 555px) {
  .navbar-break {
    display: none;
  }
}

.mobile-break {
  display: none;
}
@media only screen and (max-width: 555px) {
  .mobile-break {
    display: block;
  }
  .mobile-break hr {
    width: 100%;
    height: 2px;
    background: black;
    padding: 0;
    margin: 20px 0;
    border: 0;
  }
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 130px);
  justify-content: space-evenly;
}
.front .headline-container {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  margin-top: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 70%;
}
.front .headline-container p,
.front .headline-container h2 {
  margin: 0;
}
.front .headline-container #headline,
.front .headline-container #info {
  transition: background-color 0.2s, top 0.2s, box-shadow 0.1s;
  position: relative;
  top: 0;
}
.front .headline-container #headline {
  font-weight: bold;
  font-size: min(8vw, 70px);
  margin-bottom: 20px;
}
.front .headline-container #headline:hover {
  color: rgba(255, 255, 255, 0.671);
  top: 5px;
}
.front .headline-container #info {
  font-size: min(4.5vw, 45px);
}
@media only screen and (max-width: 555px) {
  .front .headline-container {
    text-align: left;
    width: 80%;
    margin: 0;
    margin-top: 20px;
  }
  .front .headline-container #headline {
    font-size: min(50px, 7vh, 13vw);
  }
  .front .headline-container #info {
    font-size: min(30px, 4vh, 8vw);
  }
}
.front .pages {
  margin: 0;
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}
@media (max-height: 655px) {
  .front .pages {
    margin: 10vh 0;
  }
}
.front .pages .page {
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.front .pages .page a {
  border-radius: 4px;
  border: 1px solid black;
  position: relative;
  top: 0;
  align-items: center;
  font-size: 20px;
  color: black;
  text-align: center;
  transition: background-color 0.2s, top 0.2s, box-shadow 0.1s;
  text-decoration: none;
}
.front .pages .page a h2 {
  padding: min(10px, 1vw) min(20px, 2vw);
  margin: 0;
  border: none;
  font-weight: normal;
}
.front .pages .page:hover a {
  top: 6px;
  background-color: rgba(245, 245, 245, 0.295);
  box-shadow: none;
}
@media only screen and (max-width: 555px) {
  .front .pages {
    display: none;
  }
}
@media only screen and (max-width: 555px) {
  .front {
    height: 90vh;
    justify-content: center;
  }
}

.projects {
  min-height: calc(100vh - 130px);
}

.project {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.project .project-name {
  min-width: 70%;
  display: flex;
  font-family: "Bebas Neue", sans-serif;
  align-items: flex-start;
}
.project .project-name #cpuvideo {
  border-radius: 6px;
}
.project .project-name h2 {
  margin: 25px 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: min(50px, 6vw);
}
@media (max-width: 800px) {
  .project .project-name {
    justify-content: center;
  }
}
.project .project-content {
  display: flex;
  flex-direction: row;
  max-width: 95%;
  font-size: min(24px, 1.6vw);
  justify-content: space-evenly;
}
.project .project-content .project-image video {
  border: 2px solid black;
  max-height: 35vw;
  border-radius: 12px;
}
.project .project-content .project-about {
  border: 2px solid black;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(Images/Backgrounds/logisimbacktransparent.png);
  background-size: cover;
  background-color: rgb(255, 255, 255);
  max-width: 40%;
}
.project .project-content .project-about p {
  padding: 2vw;
  max-width: 90%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
}
.project .project-content .project-about #procesor {
  font-weight: bold;
  font-size: min(24px, 3.6vw);
}
@media (max-width: 800px) {
  .project .project-content {
    flex-direction: column;
    align-items: center;
  }
  .project .project-content .project-image video {
    min-height: 65vw;
  }
  .project .project-content .project-about {
    margin: 30px 0;
    min-width: 80%;
    font-size: min(24px, 3.6vw);
  }
}/*# sourceMappingURL=styles.css.map */