html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: century gothic;
}

.navbar {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_center {
  width: 100%;
}
.navbar_center hr {
  width: 100%;
  height: 1px;
  background: black;
}

.navbar_left {
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar_left .navbar_text {
  font-size: min(20px, 4vh);
  margin: 0 min(30px, 3vh);
}
.navbar_left .navbar_text h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 5px 10px;
  margin: 0;
  font-weight: lighter;
  border-bottom: 1px solid white;
  transition: border-bottom 0.5s;
}
.navbar_left .navbar_text:hover h1 {
  border-bottom: 1px solid black;
}

.navbar_right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: min(40px, 3vh);
}
.navbar_right .navbar_link {
  display: flex;
  align-items: center;
  margin-right: min(40px, 3vh);
}
.navbar_right .navbar_link a {
  border: 2px solid black;
  height: min(56px, 10vh);
  width: min(56px, 10vh);
  position: relative;
  top: 0;
  transition: background-color 0.2s, top 0.2s, box-shadow 0.1s;
  box-shadow: 4px 4px #717981;
}
.navbar_right .navbar_link a img {
  padding: 10%;
  height: 80%;
  width: 80%;
}
.navbar_right .navbar_link:hover a {
  top: 3px;
  background-color: #f7f7f7;
  box-shadow: none;
}

.frontpage {
  min-height: 70vh;
  font-family: century gothic;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text .introduction {
  width: 85%;
  font-size: min(5vh, 1.5vw);
  margin-bottom: 4vh;
}
.text .introduction p {
  margin: 0;
}
.text .introduction #headline {
  font-weight: bold;
  font-size: min(4vh, 2.2vw);
  display: block;
  padding-bottom: 3vh;
}

.pages {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.pages a {
  align-items: center;
  padding: 10px;
  border: 1px solid white;
  font-size: min(2vh, 1vw);
  color: black;
}
.pages a h2 {
  margin: 0;
  border: none;
}
.pages a:hover {
  border: none;
  border: 1px solid gray;
  transition: border 0.4s;
}

.photo {
  margin-right: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.photo img {
  box-shadow: 10px 10px #717981;
  height: 100%;
  max-height: 30vw;
}

.footer {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-align: center;
  height: 10vh;
}
.footer img {
  background-color: white;
  height: max(3vh, 15px);
  margin-right: 4px;
}
.footer a {
  display: flex;
  margin: 0;
  color: black;
  align-items: center;
}
.footer p {
  font-size: max(2.5vh, 15px);
  padding: 0 6px;
  margin: 0;
}

@media only screen and (max-aspect-ratio: 4/3) {
  html {
    height: -moz-fit-content;
    height: fit-content;
  }
  body {
    background-size: auto;
  }
  .navbar {
    min-height: 20vw;
    justify-content: space-between;
  }
  .navbar .navbar_left {
    margin-left: 6vw;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar .navbar_left .navbar_text {
    font-size: min(3.5vw, 19px);
    margin: 0;
  }
  .navbar .navbar_left .navbar_text h1 {
    font-weight: bold;
    padding: 0;
  }
  .navbar .navbar_center {
    display: none;
  }
  .navbar .navbar_right {
    margin-left: 4vw;
  }
  .navbar .navbar_right .navbar_link {
    margin-right: 4vw;
  }
  .navbar .navbar_right .navbar_link a {
    height: min(56px, 15vw);
    width: min(56px, 15vw);
    box-shadow: 4px 4px #717981;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar .navbar_right .navbar_link a img {
    padding: 0;
    height: min(42px, 12vw);
    width: min(42px, 12vw);
  }
  .navbar .navbar_right .navbar_link:hover a {
    top: 3px;
    background-color: #f7f7f7;
    box-shadow: none;
  }
  .frontpage {
    height: auto;
    min-height: -moz-fit-content;
    min-height: fit-content;
    flex-direction: column-reverse;
  }
  .frontpage .photo {
    display: none;
  }
  .frontpage .text {
    background-image: url("Images/architecture.jpg");
    background-size: cover;
  }
  .frontpage .text .introduction {
    margin-top: 50px;
    width: 70%;
    background: rgb(255, 255, 255);
    border: 3px solid white;
    padding: 4vw;
    font-size: 24px;
  }
  .frontpage .text .introduction #headline {
    font-size: 30px;
  }
  .frontpage .text .introduction p {
    margin: 0;
  }
  .frontpage .pages {
    width: 90%;
    justify-content: space-evenly;
    margin-bottom: 70px;
  }
  .frontpage .pages a {
    background: rgb(255, 255, 255);
    padding: 1vw;
    border: 1px solid white;
    font-size: max(1.7vw, 12px);
    color: black;
  }
  .frontpage .pages a h2 {
    margin: 0;
    border: none;
  }
  .frontpage .pages a:hover {
    border: none;
    border: 1px solid gray;
  }
  .footer {
    margin: 0;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .footer img {
    height: min(5vw, 24px);
  }
  .footer a {
    margin: 0;
  }
}/*# sourceMappingURL=styles.css.map */