$shadow: #717981;

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: century gothic;
}

.navbar {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_center {
    width: 100%;

    hr {
        width: 100%;
        height: 1px;
        background: black;
    }
}

.navbar_left {
    min-width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .navbar_text {
        font-size: min(20px, 4vh);
        margin: 0 min(30px, 3vh);

        h1 {
            user-select: none;
            padding: 5px 10px;
            margin: 0;
            font-weight: lighter;
            border-bottom: 1px solid white;
            transition: border-bottom .5s;
        }

        &:hover {
            h1 {
                border-bottom: 1px solid black;
            }
        }

    }
}

.navbar_right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: min(40px, 3vh);

    .navbar_link {
        display: flex;
        align-items: center;
        margin-right: min(40px, 3vh);

        a {
            border: 2px solid black;
            height: min(56px, 10vh);
            width: min(56px, 10vh);
            position: relative;
            top: 0;
            transition: background-color .2s, top .2s, box-shadow .1s;
            box-shadow: 4px 4px $shadow;

            img {
                padding: 10%;
                height: 80%;
                width: 80%;
            }
        }

        &:hover {
            a {
                top: 3px;
                background-color: #f7f7f7;
                box-shadow: none;
            }
        }

    }
}

.frontpage {
    min-height: 70vh;
    font-family: century gothic;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;

    .introduction {

        p {
            margin: 0;
        }

        width: 85%;
        font-size: min(5vh, 1.5vw);
        margin-bottom: 4vh;

        #headline {
            font-weight: bold;
            font-size: min(4vh, 2.2vw);
            display: block;
            padding-bottom: 3vh;
        }
    }
}

.pages {
    width: 70%;
    display: flex;
    justify-content: space-between;

    a {
        align-items: center;
        padding: 10px;
        border: 1px solid white;
        font-size: min(2vh, 1vw);
        color: black;

        h2 {
            margin: 0;
            border: none;
        }

        &:hover {
            border: none;
            border: 1px solid gray;
            transition: border .4s;
        }

    }
}

.photo {
    margin-right: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;

    img {
        box-shadow: 10px 10px $shadow;
        height: 100%;
        max-height: 30vw;
    }
}

.footer {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    height: 10vh;

    img {
        background-color: white;
        height: max(3vh, 15px);
        margin-right: 4px;

    }

    a {
        display: flex;
        margin: 0;
        color: black;
        align-items: center;
    }

    p {
        font-size: max(2.5vh, 15px);
        padding: 0 6px;
        margin: 0;
    }
}

@media only screen and (max-aspect-ratio: 4/3) {

    html {
        height: fit-content;
    }

    body {
        background-size: auto;
    }

    .navbar {
        min-height: 20vw;
        justify-content: space-between;

        .navbar_left {
            margin-left: 6vw;
            width: fit-content;

            .navbar_text {
                font-size: min(3.5vw, 19px);
                margin: 0;

                h1 {
                    font-weight: bold;
                    padding: 0;
                }

            }
        }

        .navbar_center {
            display: none;
        }

        .navbar_right {
            margin-left: 4vw;

            .navbar_link {
                margin-right: 4vw;

                a {
                    height: min(56px, 15vw);
                    width: min(56px, 15vw);
                    box-shadow: 4px 4px $shadow;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        padding: 0;
                        height: min(42px, 12vw);
                        width: min(42px, 12vw);
                    }
                }

                &:hover {
                    a {
                        top: 3px;
                        background-color: #f7f7f7;
                        box-shadow: none;
                    }
                }

            }
        }
    }


    .frontpage {
        height: auto;
        min-height: fit-content;
        flex-direction: column-reverse;

        .photo {
            display: none;
        }

        .text {
            background-image: url("Images/architecture.jpg");
            background-size: cover;

            .introduction {
                margin-top: 50px;
                width: 70%;
                background: rgba(255, 255, 255);
                border: 3px solid white;
                padding: 4vw;

                #headline {
                    font-size: 30px;
                }

                p {
                    margin: 0;
                }

                font-size: 24px;
            }
        }

        .pages {
            width: 90%;
            justify-content: space-evenly;
            margin-bottom: 8vw;

            a {
                background: rgba(255, 255, 255);
                padding: 2vw;
                border: 1px solid white;
                font-size: max(1.3vw, 12px);
                color: black;

                h2 {
                    margin: 0;
                    border: none;
                }

                &:hover {
                    border: none;
                    border: 1px solid gray;
                }

            }
        }
    }

    .footer {
        margin: 0;
        max-height: fit-content;

        img {
            height: min(5vw, 24px);
        }

        a {
            margin: 0;
        }
    }
}