/* Main styles */

body {
    margin: 0px;
    font-family: verdana;
}

/* Navbar styles */
.navbar-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 38px;
    text-transform: uppercase;
    background-color: antiquewhite;
    box-shadow: 0px 8px #317372;
    border-bottom: 10px double #317372;
}

@keyframes movnavbar {
    0% {box-shadow: 0px 10px #317372;}
    100% {box-shadow: 0px 8px #317372;}
}

.leftnav {
    display: flex;
}

.navbar-link-wrapper {
    margin: 0px 8px;
    padding: 10px 0px;
}

.navbar-link-wrapper a {
    top: 0px;
    padding: 9px 12px;
    color: black;
    background-color: white;
    border: 4px double black;
    border-radius: 12px;
    box-shadow: -5px 5px #317372;
    transition: background-color .2s, box-shadow .2s, top .2s;
    text-decoration: none;
}

.navbar-link-wrapper:hover>a {
    position: relative;
    top: 4px;
    background-color: whitesmoke;
    box-shadow: none;
}

.rightnav {
    display: flex;
    align-self: center;
}

.brand {
    padding: 9px 12px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid black;
    /* box-shadow: -4px 4px #317372; */
}

/* Content styles */
.content {
    display:flex;
    justify-content: space-between;
}

.msg {
    padding: 0px 40px;
    width: fit-content;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    margin: 100px 0px 0px 100px;
    box-shadow: -30px 30px #317372;
    border-style: double;
    border-color: #317372;
    border-width: 10px;
    font-family: century gothic;
    animation:  appearmsg 2s ease-in-out,
                movemsg 1s ease-in-out 0.4s infinite alternate; 
}

.msg:hover {
    animation-play-state: paused;
}

.msg:hover > .contactbutton {
    animation-play-state: paused;
}

@keyframes movemsg {
    0% {margin-top: 100px; box-shadow: -30px 30px #317372;}
    100% {margin-top: 90px; box-shadow: -30px 25px #317372;}
}

@keyframes appearmsg {
    0% {margin-left: -500px;}
    100% {margin-left: 100px;}
}

.msg h1 {
    font-weight: lighter;
    margin-bottom: 0px;
}

.contactbutton {
    font-family: verdana;
    font-size: 0.5em;
    align-self: center;
    margin-bottom: 30px;
    padding: 20px 30px;
    color: black;
    background-color: white;
    border: 4px double black;
    border-radius: 6px;
    transition: background-color .2s;
    text-decoration: none;
}

.contactbutton:hover {
    background-color: whitesmoke;
}

.rightcontent {
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

.photos {
    margin-top: 50px;
}

.photos img{
    display: block;
    height: 150px;
    object-fit: cover;
}

.photo1 {
    position: relative;
    background-color: antiquewhite;
    padding: 50px;
    border: 10px double #317372;
    box-shadow: -20px 20px #317372;
    animation: movephoto 1s ease-in-out 0s infinite alternate;
}

.photo2 {
    margin-top: -120px;
    right: -200px;
    background-color: antiquewhite; 
    position: relative;
    padding: 50px;
    border: 10px double #317372;
    animation: movephoto 1s ease-in-out -.2s infinite alternate;
}

.photo3 {
    margin-top: -120px;
    right: -50px;
    background-color: antiquewhite; 
    position: relative;
    padding: 50px;
    border: 10px double #317372;
    animation: movephoto 1s ease-in-out -.4s infinite alternate;
}

.photo2::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: -30px 30px #317372;
}

.photo3::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: -30px 30px #317372;
}

.photo1:hover {
    animation-play-state: paused;
}

.photo2:hover {
    animation-play-state: paused;
}

.photo3:hover {
    animation-play-state: paused;
}

@keyframes movephoto {
    0% {top: 0px;}
    100% {top: 20px;}
}



/* Footer styles */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: antiquewhite;
    color: black;
    text-align: center;
    border-top: 4px solid #317372;
  }