/* Main styles */

body {
    margin: 0px;
    font-family: verdana;
}

/* Navbar styles */
.navbar-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 38px;
    text-transform: uppercase;
    background-color: antiquewhite;
    box-shadow: 0px 8px #317372;
    border-bottom: 10px double #317372;
}

.leftnav {
    display: flex;
    align-self: center;
}

.rightnav {
    display: flex;
    align-self: center;
}

.navbar-link-wrapper {
    margin: 0px 8px;
    padding: 10px 0px;
}

.navbar-link-wrapper a {
    position: relative;
    top: 0px;
    padding: 9px 12px;
    color: black;
    background-color: white;
    border: 4px double black;
    border-radius: 12px;
    box-shadow: -5px 5px #317372;
    transition: background-color .2s, box-shadow .2s, top .2s;
    text-decoration: none;
}

.navbar-link-wrapper:hover>a {
    top: 4px;
    background-color: whitesmoke;
    box-shadow: none;
}

.brand {
    padding: 9px 12px;
    background-color: white;
    border-radius: 12px;
    border: 4px double black;
    /* box-shadow: -4px 4px #317372; */
}

/* Content styles */
.content {
    display: flex;
    justify-content: space-between;
}

.msg {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px 40px;
    top: 18vh;
    left: 7vw;
    width: fit-content;
    font-family: century gothic;
    font-size: 2em;
    box-shadow: -30px 30px #317372;
    background-color: antiquewhite;
    border: 10px double #317372;
    animation: appearmsg 1s ease-in-out,
        movemsg 1s ease-in-out 0.4s infinite alternate;
    transition: background-color .5s;
}

.msg h1 {
    font-weight: lighter;
    margin-bottom: 0px;
}

.msg:hover {
    animation-play-state: paused;
    background-color: #d1c4b2;
}

@keyframes movemsg {
    0% {
        margin-top: 0px;
        box-shadow: -30px 30px #317372;
    }

    100% {
        margin-top: -20px;
        box-shadow: -30px 25px #317372;
    }
}

@keyframes appearmsg {
    0% {
        margin-left: -600px;
    }

    100% {
        margin-left: 0px;
    }
}

.contactbutton {
    font-family: verdana;
    font-size: 0.5em;
    align-self: center;
    margin-bottom: 30px;
    padding: 20px 30px;
    color: black;
    background-color: white;
    border: 4px double black;
    border-radius: 6px;
    transition: background-color .2s;
    text-decoration: none;
}

.contactbutton:hover {
    background-color: whitesmoke;
}

.rightcontent {
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

.photos {
    margin-top: 70px;
}

.photos>a>div {
    z-index: -0.5;
    background-color: antiquewhite;
    position: relative;
    padding: 30px 50px;
    border: 10px double #317372;
    transition: background-color .5s;
}

.photos>a>div::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: -30px 30px #317372;
}

.photos>a>div:hover {
    animation-play-state: paused;
    /* background-color: #ccc0af; */
    background-color: #d1c4b2;
}

.photos > a {
    text-decoration: none;
}

.photos > a:visited {
    color:black;
    font-weight: lighter;
}

.photos h2 {
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.photos img {
    display: block;
    height: 150px;
    object-fit: cover;
}

.photo1 {
    box-shadow: -20px 20px #317372;
    animation: movephoto 1s ease-in-out 0s infinite alternate;
}

.photo2 {
    margin-top: -160px;
    right: -200px;
    animation: movephoto 1s ease-in-out -0.3s infinite alternate;
}

.photo3 {
    margin-top: -80px;
    right: -30px;
    animation: movephoto 1s ease-in-out -0.6s infinite alternate;
}

@keyframes movephoto {
    0% {
        top: 0px;
    }

    100% {
        top: 30px;
    }
}

/* Footer styles */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: antiquewhite;
    color: black;
    text-align: center;
    border-top: 4px solid #317372;
}