html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  font-family: century gothic;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar div {
  height: 7vh;
  display: flex;
  align-items: center;
}

.navbar_center {
  width: 100%;
}
.navbar_center hr {
  width: 95%;
  height: 1px;
  background: black;
}

.navbar_left {
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  justify-content: space-around;
}
.navbar_left .navbar_text {
  font-size: 20px;
  margin: 0 40px;
}
.navbar_left .navbar_text h1 {
  font-weight: 500;
}

.navbar_right {
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-left: 30px;
  display: flex;
}
.navbar_right a {
  margin-right: 30px;
  box-shadow: 4px 4px #232629;
  height: 40px;
  width: 40px;
}
.navbar_right img {
  height: 36px;
  width: 36px;
  margin: 2px;
}

.navbar_link {
  display: flex;
  align-items: center;
}
.navbar_link:hover a {
  top: 4px;
  box-shadow: none;
}
.navbar_link a {
  position: relative;
  padding: 5px;
  border: 3px solid #1E2022;
  transition: background-color 0.2s, top 0.2s, box-shadow 0.1s;
  text-decoration: none;
  position: relative;
  top: 0;
  color: #1E2022;
}

.frontpage {
  font-family: century gothic;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 200px);
}

.text {
  width: 35vw;
}
.text .introduction {
  font-size: 3vh;
}

.pages {
  display: flex;
  justify-content: space-between;
}
.pages a {
  font-size: 2vh;
  color: black;
}

.photo img {
  height: 60vh;
}

.frontpage_left,
.frontpage_right {
  width: 25vw;
}

.frontpage_right .content_block {
  max-height: calc(60vh - 19px);
  animation: appearright 1s ease-in-out, movemsg 1s ease-in-out 0.4s infinite alternate;
}
.frontpage_right .content_block p {
  max-width: 16vw;
}
.frontpage_right .content_block:hover {
  animation-play-state: paused;
}

.frontpage_left .content_block {
  animation: appearleft 1s ease-in-out, movemsg 1s ease-in-out 0.2s infinite alternate;
}
.frontpage_left .content_block:hover {
  overflow-y: hidden;
  animation-play-state: paused;
}

.content_block {
  box-shadow: -1.5vh 1.5vh #42474d;
  color: #1E2022;
  position: relative;
  padding: 0 2vw;
  font-size: 2.78vh;
  border: 3px solid black;
  transition: background-color 0.5s, box-shadow 0.1s, transform 0.1s;
  transition-timing-function: ease-in-out;
}
.content_block:hover {
  overflow-y: auto;
  transform: scale(1.1);
  animation-play-state: paused;
  box-shadow: none;
  cursor: default;
}
.content_block:not(:hover) {
  overflow-y: hidden;
  transition-delay: 0s, 0.1s, 0s;
}

.frontpage_center {
  margin-top: -5vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  animation: appearcenter 1s ease-in-out;
}
.frontpage_center div {
  width: 27vh;
  height: 27vh;
  z-index: -0.5;
  background-color: white;
  position: relative;
  border: 3px solid black;
  transition: background-color 0.5s, transform 0.1s;
  text-align: center;
}
.frontpage_center div::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: -2vh 2.5vh #42474d;
  transition: box-shadow 0.1s;
  transition-delay: -0.1s;
}
.frontpage_center div:hover::before {
  box-shadow: none;
}
.frontpage_center div:not(:hover)::before {
  transition-delay: 0.1s;
}
.frontpage_center div:hover {
  transform: scale(1.05);
  animation-play-state: paused;
  z-index: 1;
  box-shadow: none;
}
.frontpage_center div a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #1E2022;
  text-decoration: none;
}
.frontpage_center div a:visited {
  color: #1E2022;
}
.frontpage_center div h2 {
  margin: 0;
  padding-top: 1vh;
  font-size: 2.5vh;
  text-align: center;
  text-transform: uppercase;
}
.frontpage_center div img {
  height: 13.5vh;
  width: 13.5vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 3.2vh;
}
.frontpage_center :nth-child(1) {
  animation: movephoto 1s ease-in-out 0s infinite alternate;
  right: 7vh;
  margin-top: 0;
}
.frontpage_center :nth-child(2) {
  animation: movephoto 1s ease-in-out -0.8s infinite alternate;
  right: -7vh;
  margin-top: -14vh;
}
.frontpage_center :nth-child(3) {
  animation: movephoto 1s ease-in-out -0.6s infinite alternate;
  right: 2vh;
  margin-top: -10vh;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  text-align: center;
  height: 100px;
}
.footer img {
  background-color: white;
  height: 30px;
  margin-right: 4px;
}
.footer a {
  display: flex;
  margin: 0;
  margin-bottom: -20px;
  color: black;
  align-items: center;
}
.footer p {
  font-family: century gothic;
  font-size: 2vh;
  padding: 0 6px;
  margin: 0;
}

@keyframes appearleft {
  0% {
    transform: translateX(-30vw);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes appearcenter {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appearright {
  0% {
    transform: translateX(30vw);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes movemsg {
  0% {
    top: 0;
  }
  100% {
    top: -1.85vh;
  }
}
@keyframes movephoto {
  0% {
    top: 0;
  }
  100% {
    top: 2.778vh;
  }
}
@media only screen and (max-aspect-ratio: 4/3) {
  body {
    background-size: auto;
    overflow: scroll;
    background-repeat: repeat-y;
    background-position: center;
  }
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .frontpage {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    overflow-y: hidden;
  }
  .frontpage .frontpage_left {
    width: 70vw;
    margin-top: 6vh;
  }
  .frontpage .frontpage_left .content_block {
    text-align: center;
  }
  .frontpage .frontpage_center {
    margin-top: 5vh;
  }
  .frontpage .frontpage_right {
    width: 70vw;
    max-height: 70vh;
    margin-top: 10vh;
    margin-bottom: 12vh;
  }
  .frontpage .frontpage_right p {
    max-width: 62vw;
  }
}/*# sourceMappingURL=styles.css.map */